data filter=lfs diff=lfs merge=lfs -text
data/fusionrules/**.json filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/**/**.pkl filter=lfs diff=lfs merge=lfs -text
data/testmodels/**.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/resnet34_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/resnet50_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/vgg13_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/mobilenetv1_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/mobilenetv3large_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/mobilenetv3small_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/proxylessnas_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/alexnet_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/mobilenetv2_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/squeezenet_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/vgg11_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/googlenet_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/mnasnet_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/resnet18_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/vgg19_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/densenet_0.json filter=lfs diff=lfs merge=lfs -text
data/testmodels/vgg16_0.json filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/vpu/avgpool.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/concat.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/dwconv-bn-relu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/maxpool.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/split.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu1/relu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu/bnrelu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/vpu/bnrelu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/addrelu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/avgpool.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/se.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu1/hswish.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu/relu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/vpu/addrelu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/conv-bn-relu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu/avgpool.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu/maxpool.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/vpu/channelshuffle.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/global-avgpool.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu1/se.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/vpu/dwconv-bn-relu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/vpu/maxpool.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu/conv-bn-relu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/vpu/se.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/bn.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu1/avgpool.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu1/concat.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu1/dwconv-bn-relu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu/bn.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu/concat.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/bnrelu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/relu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu1/bn.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu1/bnrelu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu1/fc.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu1/maxpool.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/fc.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu/dwconv-bn-relu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/vpu/bn.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/vpu/conv-bn-relu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/vpu/hswish.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/vpu/relu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/channelshuffle.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/cpu/hswish.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu1/conv-bn-relu.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu/hswish.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/gpu/se.pkl filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/vpu/fc.pkl filter=lfs diff=lfs merge=lfs -text
data/fusionrules/rule_tflite_cpu.json filter=lfs diff=lfs merge=lfs -text
data/fusionrules/rule_tflite_gpu.json filter=lfs diff=lfs merge=lfs -text
data/fusionrules/rule_vpu.json filter=lfs diff=lfs merge=lfs -text
