data filter=lfs diff=lfs merge=lfs -text
data/fusionrules/**.json filter=lfs diff=lfs merge=lfs -text
data/predictorzoo/**/**.pkl filter=lfs diff=lfs merge=lfs -text
data/testmodels/**.json filter=lfs diff=lfs merge=lfs -text
